@import '@/styles/index.scss';

.layout-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .legend{
        align-content: center;        
    }
    .legend-green { color: $green-light}
        .legend-blue { color: $primary-color}
        .legend-grey {color: $gray-dark;}

    .seatlayout-container {
        width: 25%
    }
    .button-container {
        width: 100%;
        text-align: center;
        margin-top: 20px;;

    }

}