//Colors

$primary-color: #001C8A;
$secondary-color: #008CFF;
$background-color: #F0F0F0;
$black: #000;
$white: #fff;
$red: #ff0000;
$gray-light: #f3f1f1f1;
$gray-dark: #6a6969de;
$green-light: #2ad20d

