@import '@/styles/index.scss';

.form-container
   {
    display: flex;
    align-items: center;
    div{
        width: 100%;
    }

    &.column{
        flex-direction: column;
       }
        &.row{
            flex-direction: row;
          }
        span {
            margin-bottom: 10px;
            color: $red;
        }
        input {
        margin-bottom: 10px;
        margin-right: 10px;

        }
    }
   